.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo img{
    width:150px;
}



.nav > ul{
    display: flex;
    gap: 20px;
    list-style-type: none;

}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.res-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}

.res-card img{
    width: 200px;
}

.serach{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.shimmer-card{
    width: 200px;
    height: 300px;
    background-color: #f0f0f0;
    border: 1px solid #0a0909;
    border-radius: 8px;
}

.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
}